.photo-grid-container {
  display: flex;
  justify-content: space-around;    /* Change this */
  flex-wrap: wrap;
  align-items: center;
}

.photo-grid-item {
  max-width: 400px;
  height: 100vh;
}
