body {
  color: #414141;               /* Dark gray */
  background-color: white;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif;
} */

h1 {
  font-family: 'Sacramento', cursive;
  text-align: center;
}

.text {
  margin-left: 15px;
  margin-top: 50px;
  display: block;
}

.errors {
  color: red;
}

.login, .signup {
  text-align: center;
  display: inline-block;
  padding: 20px;
  border-style: double;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
