<html>
    <head>
      <meta charset='UTF-8'/>
      {% if title %}
      <title>&#9834; {{ title }} &mdash; Tina Wong</title>
      {% else %}
      <title>&#9834; Tina Wong</title>
      {% endif %}
      <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
      <link rel="stylesheet" href="/static/styles.css" type="text/css">
      <link rel="stylesheet" href="/static/navbar.css" type="text/css">
      <link rel="stylesheet" href="/static/gallery.css" type="text/css">
    </head>
    <body>
        {% include "/navbar.html" %}
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
         {% block content %}{% endblock %}
    </body>
</html>
