{% extends "base.html" %}

{% block content %}
<div class="row"> 
  <div class="column">
    <img src='/static/images/Ace.JPG'/>
    <img src='/static/images/Luke.JPG'/>
    <img src='/static/images/Betty.JPG'/>
  </div>
  <div class="column">
    <img src='/static/images/Marley.jpg'/>
    <img src='/static/images/Jackson.JPG'/>
    <img src='/static/images/Neida2.jpg'/>
  </div> 
  <div class="column">
  	<img src='/static/images/Logan.jpg'/>
    <img src='/static/images/Joe.jpg'/>
    <img src='/static/images/Dexter.JPG'/>
  </div>
  <div class="column">
	<img src='/static/images/SnowPom.jpg'/>
	<img src='/static/images/Luke2.JPG'/>
    <img src='/static/images/Target.jpg'/>
  </div>
</div>
{% endblock %}
